<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                {{#each products}}
                    <tr>
                        <td><img src="{{this.product.thumbnails}}" alt="{{this.product.title}}" width="48"></td>
                        <td class="align-middle">{{this.product.title}}</td>
                        <td class="align-middle">${{this.product.price}}</td>
                        <td class="afdslign-middle text-end"><button class="btn btn-dark" onclick="eliminarProducto('{{product.product._id}}')">Eliminar (-)</button></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<script src="js/cart.js"></script>